<div class="container p-4">
  <h1>Provedores cadastrados </h1>
  <ul>
    <% @providers.each do | provider| %>
      <li><%= provider.name%> | <%= provider.cnpj %> | <%= provider.contact_name%> | <%= provider.created_at %>
    <% end %>
  </ul>
</div>
