<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  .container {
    margin: 2rem auto;
    width: 80%;
    border-radius: 4px;
    background-color: rgb(245, 245, 245);
    padding: 1rem 0.5rem;
  }

  .container > * {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    line-height: 1.8;
  }

  .link a {
    font-weight: bold;
    font-size: 1.2rem;
    color: #15a357;
    margin: 2rem 0;
  }
</style>

<div class="container">
  <p class="text-center">Olá <strong><%= @resource.email %></strong>:</p>

  <p>Você pediu para reiniciar a sua senha para o projeto Seva. Você pode reiniciar sua senha clicando no link abaixo:</p>

  <p class="link"><%= link_to 'Reiniciar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p>Se você não pediu para reiniciar sua senha você pode ignorar este e-mail.</p>
  <p>E não se preocupe: sua senha não irá mudar até que você clique no link acima e mude sua senha. </p>
</div>

